In [0]:
import pandas as pd

In [0]:
#読み込み、前半の文字削除
data = pd.read_table('%2Fxmin_-392_ymin_137_delta_50.pcd', header=None)
head = data[:10]
data = data[10:].reset_index(drop=True)

In [48]:
%%time
data = data.iloc[:,0].apply(lambda x: pd.Series(x.split()))

CPU times: user 1min 11s, sys: 692 ms, total: 1min 12s
Wall time: 1min 11s

In [49]:
data2 = data.copy()
data2[3] = ((data[3].astype(int)<7) & (data[3] != '0')) * 1
data2.head(20)

                      0                   1                   2  3    4
0    -342.8129396103613  139.81152033824145  37.052573111060354  1  183
1    -343.7112396103613  153.07972033824146   40.13527311106036  1  143
2    -343.5033396103613  186.59242033824148   44.72717311106035  1    9
3    -343.6364396103613  182.93202033824147  43.008473111060354  0   -1
4   -347.29063961036127  184.60432033824148   42.76967311106036  1   34
5   -346.65993961036133  173.92612033824147   42.25437311106036  1    4
6    -347.1314396103613  184.76672033824147   43.76137311106036  1   34
7    -343.8420396103613  172.03752033824148   42.46837311106036  1   -1
8   -343.80473961036125  171.98262033824147  41.728573111060356  1   -1
9    -342.3191396103613  185.76652033824146   43.25747311106036  1   -1
10  -343.60333961036133  171.89222033824146   41.84847311106036  1   -1
11   -344.3440396103613  183.22862033824146   45.41957311106036  0   -1
12   -352.0902396103613  180.30162033824146   41.96877311106036  1   12
13   -352.0457396103613  179.95042033824146   43.36097311106036  1   12
14   -347.7654396103613  165.90042033824147  43.269173111060354  1  106
15   -344.3324396103613  183.59502033824145   43.78427311106036  1   17
16  -343.14863961036133  185.83042033824148  43.325673111060354  1    9
17   -350.5187396103613  186.62682033824146   42.48527311106036  1   -1
18   -344.1159396103613  182.91492033824147   43.59517311106036  1   17
19  -351.33823961036126  176.36182033824147   42.18327311106036  1  120

In [0]:
points,ids = [],[]
for i in range(len(data2)):
  x,y,z,label,obj = data2.iloc[i]
  points.append((x,y,z))
  ids.append((label,obj))

In [0]:
pcd_dict = {'point':points,'id':ids}

In [0]:
import pickle
with open('xmin_-392_ymin_137_delta_50.pkl', 'wb') as f:
  pickle.dump(pcd_dict, f)